<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="DailyLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/logSMS-" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="DailyLog" />
    </root>
  </log4net>
  <connectionStrings>
  <add name="PT_Care2" connectionString="data source=192.168.55.230;initial catalog=PT_Care2;user id=sa_pts_re1;password=Sv@2015#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="PTS_PT1" connectionString="Data Source=192.168.1.254;Initial Catalog=PTS_RE1;User ID=sa;password=Sv@2015#;Connect Timeout=180" providerName="System.Data.SqlClient" />
  <add name="PTS_PT3" connectionString="Data Source=192.168.3.254;Initial Catalog=PTS_RE1;User ID=sa;password=Sv@2015#;Connect Timeout=180" providerName="System.Data.SqlClient" />
  <add name="PTS_PT6" connectionString="data source=192.168.6.254;initial catalog=PTS_RE1;user id=sa;password=Sv@2015#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="PTS_Test" connectionString="data source=192.168.55.230;initial catalog=PTS_RE1_Test;user id=sa_pts_re1;password=Sv@2015#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="PTS_Wing1" connectionString="data source=192.168.11.254;initial catalog=PTS_RE1;user id=sa;password=Sv@2015#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <appSettings>
  
  </appSettings>
</configuration>